.landingpage1-container {
  min-height: 100vh;
}
.landingpage1-landingpage1 {
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(2, 2, 2, 1);
}
.landingpage1-backgroundimg1 {
  top: 117px;
  left: 130px;
  width: 1680px;
  height: 963px;
  position: absolute;
  border-color: transparent;
}
.landingpage1-text {
  top: 192px;
  left: 262px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-text07 {
  top: 553px;
  left: 262px;
  color: rgba(255, 253, 253, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-leranmore {
  top: 754px;
  left: 545px;
  width: 252px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 7.3469390869140625px;
  background-color: rgba(236, 138, 22, 0.800000011920929);
}
.landingpage1-text16 {
  top: 12.244897842407227px;
  left: 30.612245559692383px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 29.38775634765625px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-menu {
  top: 754px;
  left: 262px;
  width: 252px;
  height: 60.3834114074707px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 7.765269756317139px;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage1-text18 {
  top: 12.942115783691406px;
  left: 86.06507110595703px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 31.061079025268555px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-logo {
  top: 0px;
  left: 131px;
  width: 253px;
  height: 162px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.landingpage1-service {
  top: 34px;
  left: 805px;
  width: 188px;
  height: 59px;
  display: flex;
  padding: 15px 41px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
}
.landingpage1-text20 {
  top: 15px;
  left: 41px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-register {
  top: 34px;
  left: 1011px;
  width: 193px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 1);
}
.landingpage1-text22 {
  top: 15px;
  left: 37px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-blog {
  top: 34px;
  left: 1217px;
  width: 154px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 1);
}
.landingpage1-text24 {
  top: 15px;
  left: 32px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-contactus {
  top: 34px;
  left: 1384px;
  width: 217px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 1);
}
.landingpage1-text26 {
  top: 15px;
  left: 28px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-aboutus {
  top: 34px;
  left: 1614px;
  width: 202px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 1);
}
.landingpage1-text28 {
  top: 15px;
  left: 37px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage1-home {
  top: 34px;
  left: 627px;
  width: 150px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 1);
}
.landingpage1-text30 {
  top: 15px;
  left: 38px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
