.landingpage2-container {
  min-height: 100vh;
}
.landingpage2-landingpage2 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(204, 193, 193, 0.4699999988079071);
}
.landingpage2-green {
  top: 192px;
  left: 188px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(253, 253, 253, 1);
}
.landingpage2-greentea {
  top: -14.2783203125px;
  left: 11px;
  width: 258px;
  height: 262px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-frame16 {
  top: 523px;
  left: 199px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text {
  top: 6.541492462158203px;
  left: 12.265169143676758px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t {
  top: 523px;
  left: 349px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text02 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame3 {
  top: 192px;
  left: 617px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage2-text04 {
  top: 238px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame18 {
  top: 526px;
  left: 633px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text06 {
  top: 4px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame4 {
  top: 192px;
  left: 1046px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage2-text08 {
  top: 252px;
  left: 45px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame5 {
  top: 192px;
  left: 1475px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage2-text10 {
  top: 244px;
  left: 69px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame26 {
  top: 526px;
  left: 1477px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text12 {
  top: 4px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame6 {
  top: 631px;
  left: 188px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage2-text14 {
  top: 246px;
  left: 67px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-masala {
  top: 631px;
  left: 617px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(252, 252, 252, 1);
}
.landingpage2-herbaltea1 {
  top: 31px;
  left: 0px;
  width: 256px;
  height: 225px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-text16 {
  top: 234px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame24 {
  top: 962px;
  left: 636px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text18 {
  top: 4px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-minttea1 {
  top: 662px;
  left: 213px;
  width: 236px;
  height: 198px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-lime {
  top: 631px;
  left: 1046px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage2-limetea1 {
  top: 17px;
  left: 7.047119140625px;
  width: 259px;
  height: 214px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-text20 {
  top: 250px;
  left: 64px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-cinnamon {
  top: 631px;
  left: 1475px;
  width: 280px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage2-cinnamontea1 {
  top: 54px;
  left: 27px;
  width: 226px;
  height: 212px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-text22 {
  top: 244px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame19 {
  top: 962px;
  left: 1477px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text24 {
  top: 4px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-black {
  top: 220px;
  left: 633px;
  width: 248px;
  height: 209px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-ginger {
  top: 249px;
  left: 1055px;
  width: 260px;
  height: 152px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-milk {
  top: 220px;
  left: 1498px;
  width: 233px;
  height: 172px;
  position: absolute;
  border-color: transparent;
}
.landingpage2-text26 {
  top: 429px;
  left: 255px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t1 {
  top: 523px;
  left: 777px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text28 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t2 {
  top: 523px;
  left: 1206px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text30 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t3 {
  top: 523px;
  left: 1631px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text32 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t4 {
  top: 962px;
  left: 349px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text34 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t5 {
  top: 962px;
  left: 777px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text36 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t6 {
  top: 962px;
  left: 1206px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text38 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-a-d-d-t-o-c-a-r-t7 {
  top: 962px;
  left: 1633px;
  width: 120px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(212, 205, 205, 1);
}
.landingpage2-text40 {
  top: 5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame21 {
  top: 526px;
  left: 1058px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text42 {
  top: 4px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame23 {
  top: 962px;
  left: 199px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text44 {
  top: 4px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-frame25 {
  top: 962px;
  left: 1058px;
  width: 79px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(218, 133, 54, 1);
}
.landingpage2-text46 {
  top: 4px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16.35359001159668px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-seeall {
  top: 78px;
  left: 1507px;
  width: 265px;
  height: 40.081573486328125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(235, 225, 225, 1);
}
.landingpage2-text48 {
  top: 9.692785263061523px;
  left: 42.405982971191406px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18.173973083496094px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-her0section2 {
  top: 46px;
  left: 145px;
  width: 567px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.landingpage2-text50 {
  top: 42px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage2-text52 {
  top: 3px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Calibri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
